h1 {
font-size: 72px; 
  color: SeaGreen;
  font-family: Times;
  text-allign: center;
  background-color: Black; 
  text-transform: uppercase;
}

p {
  font-family: Georgia;
  font-size: 36px;
  text-allign: center;
}

a {
  background-image: url("http://newevolutiondesigns.com/images/freebies/nature-hd-background-22.jpg");
  font-size: 42px;
  font-family: Arial;
  height: 50px;
  width: 50px;
  background-position: center;
  border-radius: 100%;
}


ul.topnav li a { 
  display: inline-block;
  color: #000000;
  text-align: center; 
  padding: 14px 16px;
  text-decoration: none; 
  transition: 0.3s; 
  font-size: 17px;
} 
 .folder {
   font-size: 42px;
   font-family: Arial; 
}

}
th {
  background-image: url("http://newevolutiondesigns.com/images/freebies/nature-hd-background-22.jpg");
  font-size: 42px;
  font-family: Arial;
}
tr {
   background-image: url("http://newevolutiondesigns.com/images/freebies/nature-hd-background-22.jpg");
  font-size: 42px;
  font-family: Arial;
}

h1, body {
  background-image: url("http://newevolutiondesigns.com/images/freebies/nature-hd-background-22.jpg");
}
}
