body, html {
  height: 100%;
}
h1 {
  border: 3px solid white;
  position: center;
  top: 50px;
  width: 400px;
}
body {
  background-color: FFC333;
}

th {
  font-size: 36px;
} 

#photo {
  background-image: url("https://s3.amazonaws.com/codecademy-content/courses/web-101/unit-6/htmlcss1-img_tahoe.jpeg");
  background-size: cover;
  background-position: bottom center;
  background=-repeat: no-repeat;
  height: 700px; 
  width: 100%; 
  margin: 100px 10px 100px 10px;
}
