h1 {
font-size: 72px; 
  color: SeaGreen;
  font-family: Times;
  text-allign: center;
  background-color: Black; 
  text-transform: uppercase;
}

p {
  font-family: Georgia;
  font-size: 24px;
}
a {
  height: 50px;
  width: 50px;
  background-position: center;
  border-radius: 100%;
}

ul {
  font-size: 36px;
  text-align: center;
}

