h1 {
font-size: 72px;
  background-color: Black;
  color: SeaGreen;
  font-family: Times;
}

p {
font-size: 36px;
}

a, img {
display: block;
  height: 200px;
width: 200px;
}

ul {
  font-size: 36px;
  text-align: center;
}
 h2 {
   font-size: 54px;
}
